nav{
  background: #0B57A2;
  width: 100vw;
  height: 100vh;
  
  .ul{
    padding:0.5em;
    .linea{
      
      box-sizing:border-box;
      
      .celda{
        border: 1px solid #ffffff;
        display: inline-block;
        margin-right:-4px;
        color: #ffffff;
        box-sizing:border-box;
        padding:1em 0.5em;
        width:17.3%;
      }
    }
  }
}
.celdao {

        display: inline-block;
        margin-right:-4px;
        
        box-sizing:border-box;
        padding:1em 0.5em;
        width:17.3%;
}
.flex {
  display:flex;
  justify-content: center;
  align-items: center; 
}
.bold {
  font-style: bold;
}