nav{
  background: #0B57A2;
  width: 100vw;
  height: 100vh;
  
  .ul{
    padding:0.5em;
    .linea{
      
      box-sizing:border-box;
      
      //word-spacing: -1px;
      //font-size: 1px;
      //letter-spacing: -1px;
      //width: 80%;
      
      .celda{
        border: 1px solid #ffffff;
        display: inline-block;
        margin-right:-4px;
        color: #ffffff;
        box-sizing:border-box;
        padding:1em 0.5em;
        width:17.3%;
        //min-width:150px;
        
        //display: inline-block;
        //word-spacing: normal;
        //font-size: 1rem;/*u otra unidad para IE8 y -*/
        //letter-spacing: normal;
        //white-space: normal;
        //width: XXXvalor;/*El valor necesario*/ 
      }
    }
  }
}
.celdao {

        display: inline-block;
        margin-right:-4px;
        
        box-sizing:border-box;
        padding:1em 0.5em;
        width:17.3%;
}
